{% extends 'base.html' %}
{% block content %}


<main class="container mt-5">

    <h1 class="text-center">Sucursales</h1>
    <form method="POST" class="col-md-2 offset-md-5 text-center">
        {% csrf_token %}
        <label for="region" class="form-label">Región</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="region" id="region">

            <option selected value="3">Todas</option>
            <option  value="1">Uno</option>
            <option value="2">Dos</option>
          </select>
        <button class="btn btn-dark mt-3">Filtrar</button> 
    </form>
    <table class="table text-center mt-3 table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Activos</th>
                <th scope="col">Región</th>
                <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for branch in branches %}
            <tr>
                <th scope="row">{{branch.idBranch}}</th>
                <td>{{branch.name}}</td>
                <td>{{branch.city}}</td>
                <td>${{branch.assets}}</td>
                <td>{{branch.region}}</td>
                <td>
                    <a href="{% url 'branch_detail' branch.idBranch %}" class="btn ">Ver</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container mx-auto">
        <a href="create/" class="btn btn-dark">Nueva sucursal</a>
    </div>
</main>

{% endblock %}