{% extends 'base.html' %}
{% block content %}

{% if error %}
    
    <div class="alert alert-danger col-md-4 offset-md-4 mt-5" role="alert">
        {{error}}
    </div>
{% endif %}

<main class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4" >
            <form action="/branch/create/", method="POST">
                <h1 class="text-center">Crear sucursal</h1>
                {% csrf_token %}
                {{form.as_p}}
            
                <button class="btn btn-dark">
                    Crear sucursal
                </button>
            </form>
            
        </div>
    </div>
</main>
{% endblock %}