{% extends 'base.html' %}
{% block content %}


{% if error %}
    
    <div class="alert alert-danger col-md-4 offset-md-4 mt-5" role="alert">
        {{error}}
    </div>
{% endif %}


<main class="container mt-5">
    <h1 class="text-center">Solicitar préstamo</h1>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="/loan/create/" method="POST" class="card card-body">
                {% csrf_token %}
                {{form.as_p}}


                <button class="btn btn-dark">
                    Create
                </button>
            
            </form>
        </div>
    </div>
</main>
{% endblock %}