{% extends 'base.html' %}
{% block content %}

{% if user.is_staff %}
    <h1>Préstamos pendientes</h1>
{% else %}
    <h1>Préstamos</h1>
{% endif %}
<ul>

    {% for loan in loans %}
    <li>
        <a href="{% url 'loan_detail' loan.idLoan %}">
            {{loan.idLoan}}
            {{ loan.idBranch}}
            {{ loan.quantity}}
            {{loan.date}}

            {% if loan.approved %}
                <span>Approved</span>
            {% else %}
                <span>Not Approved</span>
            {% endif %}
        </a>
    </li>
    {% endfor %}

</ul>

<a href="create/">Nuevo prestamo</a>


{% endblock %}

